<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="HomeKitchenTest">
		<parameter name="productCategory" value="Home &amp; Kitchen" />
		<parameter name="product" value="Curtains" />
		<classes>
			<class name="tests.CurtainsTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="EssentialsTest">
		<parameter name="productCategory" value="Essentials" />
		<parameter name="product" value="Coffee &amp; Tea" />
		<classes>
			<class name="tests.CurtainsTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="MobileAndMoreTest">
		<parameter name="productCategory" value="Mobiles &amp; More" />
		<parameter name="product" value="Cables" />
		<classes>
			<class name="tests.CurtainsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
